apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: argocd
  namespace: flux-system
spec:
  dependsOn:
    - name: infrastructure
  interval: 1h
  path: ./gitops-engines/argocd
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: flux-system